In [ ]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt

# Importing Data

In [16]:
apr1 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_170401.txt'

df1 = pd.read_csv(apr1)

# Initial Data Cleaning

In [17]:
# The column names contain unneeded whitespace.
df1.columns.values

array(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE',
       'TIME', 'DESC', 'ENTRIES',
       'EXITS                                                               '], dtype=object)

In [25]:
# The dataframe also lacks a timeseries.
df1.dtypes

C/A         object
UNIT        object
SCP         object
STATION     object
LINENAME    object
DIVISION    object
DATE        object
TIME        object
DESC        object
ENTRIES      int64
EXITS        int64
dtype: object

In [21]:
# Strip whitespace from column names
df1.columns = [s.strip() for s in df1.columns.values]

# Create datetime column with datetime datatype
df1['Datetime'] = pd.to_datetime(df1.DATE + ' ' + df1.TIME,
                                 format = '%m/%d/%Y %H:%M:%S')

df1.iloc[:5]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,00:00:00,REGULAR,6108321,2069313,2017-03-25 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,04:00:00,REGULAR,6108343,2069319,2017-03-25 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,08:00:00,REGULAR,6108360,2069347,2017-03-25 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,12:00:00,REGULAR,6108462,2069456,2017-03-25 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,16:00:00,REGULAR,6108689,2069525,2017-03-25 16:00:00

In [7]:
# Chain methods together to further clean data:
    # drop old date and time columns
    # rename columns
    
dict_col_rename = {'C/A' : 'C_A', 'UNIT' : 'Unit', 'STATION' : 'Station', 'LINENAME' : 'Linename',
                  'DIVISION' : 'Division', 'DESC' : 'Desc', 'ENTRIES' : 'Entries', 'EXITS' : 'Exits',
                  'DATE' : 'Date'}    

df2 = (df1
       #.drop('DATE', axis = 1)
       .drop('TIME', axis = 1)
       .rename(columns = dict_col_rename)
      )

df2.iloc[:5]

,C_A,Unit,SCP,Station,Linename,Division,Date,Desc,Entries,Exits,Datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108321,2069313,2017-03-25 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108343,2069319,2017-03-25 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108360,2069347,2017-03-25 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108462,2069456,2017-03-25 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108689,2069525,2017-03-25 16:00:00

# Removing Erroneous Observations

In [5]:
# Check uniqueness of rows/indexes by getting counts.
(df2
 .groupby(['C_A', 'Unit', 'SCP', 'Station', 'Datetime'])
 .count() #.Entries.count()
 .reset_index()
 .sort_values('Entries', ascending = False)
 .iloc[:5]
)

,C_A,Unit,SCP,Station,Datetime,Linename,Division,Date,Desc,Entries,Exits
0,A002,R051,02-00-00,59 ST,2017-03-25 00:00:00,1,1,1,1,1,1
132213,R147,R033,04-00-01,TIMES SQ-42 ST,2017-03-31 16:00:00,1,1,1,1,1,1
132239,R147,R033,04-00-02,TIMES SQ-42 ST,2017-03-29 00:00:00,1,1,1,1,1,1
132240,R147,R033,04-00-02,TIMES SQ-42 ST,2017-03-29 04:00:00,1,1,1,1,1,1
132241,R147,R033,04-00-02,TIMES SQ-42 ST,2017-03-29 08:00:00,1,1,1,1,1,1

In [6]:
# On 3/25, we don't seem to have two entries for same time, but let's take a look anyway.
from datetime import datetime as dt

import datetime

mask = ((df2["C_A"] == "A002") & 
(df2["Unit"] == "R051") & 
(df2["SCP"] == "02-00-00") & 
(df2["Station"] == "59 ST") &
(df2["Datetime"].dt.date == datetime.datetime(2017, 3, 25).date()))
df2[mask].head()

,C_A,Unit,SCP,Station,Linename,Division,Date,Desc,Entries,Exits,Datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108321,2069313,2017-03-25 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108343,2069319,2017-03-25 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108360,2069347,2017-03-25 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108462,2069456,2017-03-25 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108689,2069525,2017-03-25 16:00:00

In [7]:
df2.Desc.value_counts()

REGULAR       197257
RECOVR AUD      1111
Name: Desc, dtype: int64

In [8]:
# Questions for the future, if there is time:
    # Are there other values of DESC?
    # Are there other fields to check for odd values?

# Drop duplicates.
df_no_dupe = df2.drop_duplicates(subset=['C_A', 'Unit', 'SCP', 'Station', 'Datetime'])

# Check uniqueness again after data cleaning to confirm cleanness.

In [9]:
df_no_dupe.head()

,C_A,Unit,SCP,Station,Linename,Division,Date,Desc,Entries,Exits,Datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108321,2069313,2017-03-25 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108343,2069319,2017-03-25 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108360,2069347,2017-03-25 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108462,2069456,2017-03-25 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/25/2017,REGULAR,6108689,2069525,2017-03-25 16:00:00

# Calculating the Entries and Exits per Day

In [11]:
df_daily_entries = (df_no_dupe
            .groupby(['C_A', 'Unit', 'SCP', 'Station', 'Date'])
            .Entries
            .first()
            .reset_index()
           )

df_daily_exits = (df_no_dupe
            .groupby(['C_A', 'Unit', 'SCP', 'Station', 'Date'])
            .Exits
            .first()
            .reset_index()
           )

In [12]:
# Calculate the differences by day
df_daily_entries[["Prev_date", "Prev_entries"]] = (df_daily_entries
                                                       .groupby(["C_A", "Unit", "SCP", "Station"])["Date", "Entries"]
                                                       .transform(lambda grp: grp.shift(1)))

df_daily_exits[["Prev_date", "Prev_exits"]]   = (df_daily_exits
                                                       .groupby(["C_A", "Unit", "SCP", "Station"])["Date", "Exits"]
                                                       .transform(lambda grp: grp.shift(1)))

# Drop all the null values generated above
df_daily_entries.dropna(subset=["Prev_date"], axis=0, inplace=True)
df_daily_exits.dropna(subset=["Prev_date"], axis=0, inplace=True)

In [13]:
df_daily_entries.head()

    C_A  Unit       SCP Station        Date  Entries   Prev_date  Prev_entries
1  A002  R051  02-00-00   59 ST  03/26/2017  6109170  03/25/2017     6108321.0
2  A002  R051  02-00-00   59 ST  03/27/2017  6109800  03/26/2017     6109170.0
3  A002  R051  02-00-00   59 ST  03/28/2017  6111349  03/27/2017     6109800.0
4  A002  R051  02-00-00   59 ST  03/29/2017  6112817  03/28/2017     6111349.0
5  A002  R051  02-00-00   59 ST  03/30/2017  6114493  03/29/2017     6112817.0

In [14]:
# Check for any counters that have been reversed
df_daily_entries[df_daily_entries["Entries"] < df_daily_entries["Prev_entries"]].head()

# WTC: Is this something that can be solved by sorting before applying the transform above?

,C_A,Unit,SCP,Station,Date,Entries,Prev_date,Prev_entries
239,A011,R080,01-00-00,57 ST-7 AV,03/26/2017,887123235,03/25/2017,887125400.0
240,A011,R080,01-00-00,57 ST-7 AV,03/27/2017,887121510,03/26/2017,887123235.0
241,A011,R080,01-00-00,57 ST-7 AV,03/28/2017,887118538,03/27/2017,887121510.0
242,A011,R080,01-00-00,57 ST-7 AV,03/29/2017,887115153,03/28/2017,887118538.0
243,A011,R080,01-00-00,57 ST-7 AV,03/30/2017,887111638,03/29/2017,887115153.0

In [16]:
##### HAVE NOT EDITED YET

# Pick a value from one of the counters reversed above & check for it 
# What's the deal with counter being in reverse
# mask = ((turnstiles_df["C/A"] == "A011") & 
# (turnstiles_df["UNIT"] == "R080") & 
# (turnstiles_df["SCP"] == "01-00-00") & 
# (turnstiles_df["STATION"] == "57 ST-7 AV") &
# (turnstiles_df["DATE_TIME"].dt.date == datetime.datetime(2016, 8, 27).date()))
# turnstiles_df[mask].head()

In [17]:
# Let's see how many stations have this problem

(df_daily_entries[df_daily_entries["Entries"] < df_daily_entries["Prev_entries"]]
    .groupby(["C_A", "Unit", "SCP", "Station"])
    .size())

C_A    Unit  SCP       Station
A011   R080  01-00-00  57 ST-7 AV         6
A025   R023  01-03-01  34 ST-HERALD SQ    6
             01-03-02  34 ST-HERALD SQ    6
A035   R170  00-00-01  14 ST-UNION SQ     2
A049   R088  02-05-00  CORTLANDT ST       5
A066   R118  00-00-00  CANAL ST           6
C019   R232  00-00-02  45 ST              2
H003   R163  01-00-02  6 AV               6
H023   R236  00-06-00  DEKALB AV          6
J034   R007  00-00-02  104 ST             6
JFK03  R536  00-00-01  JFK JAMAICA CT1    1
             00-00-05  JFK JAMAICA CT1    1
             00-03-02  JFK JAMAICA CT1    1
K026   R100  00-00-01  METROPOLITAN AV    4
N063A  R011  00-00-04  42 ST-PORT AUTH    6
             00-00-05  42 ST-PORT AUTH    6
             00-00-08  42 ST-PORT AUTH    6
N078   R175  01-03-00  14 ST              6
N111   R284  00-06-01  CLINTON-WASH AV    6
N137   R354  00-06-01  104 ST             6
N203   R195  00-00-01  161/YANKEE STAD    6
N305   R017  01-03-04  LEXINGTON AV/53    6
N324   R018  00-03-01  JKSN HT-ROOSVLT    1
N327   R254  00-06-01  GRAND-NEWTOWN      6
N342   R019  01-03-02  JAMAICA 179 ST     6
N508   R453  00-00-02  23 ST              6
N601   R319  00-00-01  LEXINGTON AV/63    6
N606   R025  00-00-01  JAMAICA CENTER     6
PTH01  R549  00-00-00  NEWARK HW BMEBE    1
             00-00-05  NEWARK HW BMEBE    1
PTH03  R552  00-01-00  JOURNAL SQUARE     2
PTH17  R541  01-00-07  THIRTY THIRD ST    1
PTH18  R549  01-02-02  NEWARK BM BW       1
PTH21  R540  01-00-01  PATH WTC 2         1
PTH22  R540  02-00-05  PATH NEW WTC       1
             02-01-04  PATH NEW WTC       1
             02-02-04  PATH NEW WTC       1
R127   R105  00-00-00  14 ST              6
R148   R033  01-00-01  TIMES SQ-42 ST     6
R210   R044  00-03-04  BROOKLYN BRIDGE    6
R227   R131  00-00-00  23 ST              6
R245   R051  00-00-00  59 ST              6
R258   R132  00-00-03  125 ST             6
R304   R206  00-00-00  125 ST             6
R305   R206  01-00-02  125 ST             6
R310   R053  01-00-02  3 AV-149 ST        6
R322   R386  00-00-02  174 ST             6
R622   R123  00-00-00  FRANKLIN AV        6
R646   R110  01-00-01  FLATBUSH AV-B.C    6
dtype: int64

In [18]:
def get_daily_counts(row, max_counter, cols):
    counter = row[cols[0]] - row[cols[1]]
    if counter < 0:
        # May be counter is reversed?
        counter = -counter
    if counter > max_counter:
        print(row[cols[0]], row[cols[1]])
        counter = min(row[cols[0]], row[cols[1]])
    if counter > max_counter:
        # Check it again to make sure we are not giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
df_daily_entries["Daily_Entries"] = df_daily_entries.apply(get_daily_counts, axis=1, args=(1000000, ['Entries', 'Prev_entries']))
df_daily_exits["Daily_Exits"] = df_daily_exits.apply(get_daily_counts, axis=1, args=(1000000, ['Exits', 'Prev_exits']))

153 284994405.0
838882067 3322993.0
1792 8034135.0
134217746 573098.0
33 1174380855.0
167779695 661998.0
554 2713008.0
0 6471847.0

In [19]:
df_daily_exits.head()

,C_A,Unit,SCP,Station,Date,Exits,Prev_date,Prev_exits,Daily_Exits
1,A002,R051,02-00-00,59 ST,03/26/2017,2069608,03/25/2017,2069313.0,295.0
2,A002,R051,02-00-00,59 ST,03/27/2017,2069820,03/26/2017,2069608.0,212.0
3,A002,R051,02-00-00,59 ST,03/28/2017,2070422,03/27/2017,2069820.0,602.0
4,A002,R051,02-00-00,59 ST,03/29/2017,2070999,03/28/2017,2070422.0,577.0
5,A002,R051,02-00-00,59 ST,03/30/2017,2071599,03/29/2017,2070999.0,600.0

In [20]:
pd.merge(df_daily_entries, df_daily_exits, on=['C_A','Unit','SCP', 'Station', 'Date', 'Prev_date'])

,C_A,Unit,SCP,Station,Date,Entries,Prev_date,Prev_entries,Daily_Entries,Exits,Prev_exits,Daily_Exits
0,A002,R051,02-00-00,59 ST,03/26/2017,6109170,03/25/2017,6108321.0,849.0,2069608,2069313.0,295.0
1,A002,R051,02-00-00,59 ST,03/27/2017,6109800,03/26/2017,6109170.0,630.0,2069820,2069608.0,212.0
2,A002,R051,02-00-00,59 ST,03/28/2017,6111349,03/27/2017,6109800.0,1549.0,2070422,2069820.0,602.0
3,A002,R051,02-00-00,59 ST,03/29/2017,6112817,03/28/2017,6111349.0,1468.0,2070999,2070422.0,577.0
4,A002,R051,02-00-00,59 ST,03/30/2017,6114493,03/29/2017,6112817.0,1676.0,2071599,2070999.0,600.0
5,A002,R051,02-00-00,59 ST,03/31/2017,6116109,03/30/2017,6114493.0,1616.0,2072198,2071599.0,599.0
6,A002,R051,02-00-01,59 ST,03/26/2017,5549522,03/25/2017,5548867.0,655.0,1227166,1226992.0,174.0
7,A002,R051,02-00-01,59 ST,03/27/2017,5549998,03/26/2017,5549522.0,476.0,1227299,1227166.0,133.0
8,A002,R051,02-00-01,59 ST,03/28/2017,5551095,03/27/2017,5549998.0,1097.0,1227583,1227299.0,284.0
9,A002,R051,02-00-01,59 ST,03/29/2017,5552220,03/28/2017,5551095.0,1125.0,1227937,1227583.0,354.0
10,A002,R051,02-00-01,59 ST,03/30/2017,5553480,03/29/2017,5552220.0,1260.0,1228277,1227937.0,340.0
11,A002,R051,02-00-01,59 ST,03/31/2017,5554692,03/30/2017,5553480.0,1212.0,1228615,1228277.0,338.0
12,A002,R051,02-03-00,59 ST,03/26/2017,886870,03/25/2017,886545.0,325.0,3290485,3289196.0,1289.0
13,A002,R051,02-03-00,59 ST,03/27/2017,887135,03/26/2017,886870.0,265.0,3291382,3290485.0,897.0
14,A002,R051,02-03-00,59 ST,03/28/2017,887668,03/27/2017,887135.0,533.0,3293555,3291382.0,2173.0
15,A002,R051,02-03-00,59 ST,03/29/2017,888231,03/28/2017,887668.0,563.0,3295736,3293555.0,2181.0
16,A002,R051,02-03-00,59 ST,03/30/2017,888796,03/29/2017,888231.0,565.0,3298009,3295736.0,2273.0
17,A002,R051,02-03-00,59 ST,03/31/2017,889347,03/30/2017,888796.0,551.0,3300195,3298009.0,2186.0
18,A002,R051,02-03-01,59 ST,03/26/2017,220555,03/25/2017,219601.0,954.0,369767,368448.0,1319.0
19,A002,R051,02-03-01,59 ST,03/27/2017,221278,03/26/2017,220555.0,723.0,370785,369767.0,1018.0
20,A002,R051,02-03-01,59 ST,03/28/2017,222571,03/27/2017,221278.0,1293.0,372828,370785.0,2043.0
21,A002,R051,02-03-01,59 ST,03/29/2017,223809,03/28/2017,222571.0,1238.0,374933,372828.0,2105.0
22,A002,R051,02-03-01,59 ST,03/30/2017,225122,03/29/2017,223809.0,1313.0,377107,374933.0,2174.0
23,A002,R051,02-03-01,59 ST,03/31/2017,226517,03/30/2017,225122.0,1395.0,379243,377107.0,2136.0
24,A002,R051,02-03-02,59 ST,03/26/2017,5308071,03/25/2017,5307156.0,915.0,7328657,7327704.0,953.0
25,A002,R051,02-03-02,59 ST,03/27/2017,5308710,03/26/2017,5308071.0,639.0,7329382,7328657.0,725.0
26,A002,R051,02-03-02,59 ST,03/28/2017,5309979,03/27/2017,5308710.0,1269.0,7331029,7329382.0,1647.0
27,A002,R051,02-03-02,59 ST,03/29/2017,5311354,03/28/2017,5309979.0,1375.0,7332684,7331029.0,1655.0
28,A002,R051,02-03-02,59 ST,03/30/2017,5312734,03/29/2017,5311354.0,1380.0,7334431,7332684.0,1747.0
29,A002,R051,02-03-02,59 ST,03/31/2017,5314173,03/30/2017,5312734.0,1439.0,7336160,7334431.0,1729.0
...,...,...,...,...,...,...,...,...,...,...,...,...
28112,TRAM2,R469,00-00-01,RIT-ROOSEVELT,03/26/2017,2119801,03/25/2017,2118497.0,1304.0,22489,22464.0,25.0
28113,TRAM2,R469,00-00-01,RIT-ROOSEVELT,03/27/2017,2120753,03/26/2017,2119801.0,952.0,22513,22489.0,24.0
28114,TRAM2,R469,00-00-01,RIT-ROOSEVELT,03/28/2017,2121886,03/27/2017,2120753.0,1133.0,22521,22513.0,8.0
28115,TRAM2,R469,00-00-01,RIT-ROOSEVELT,03/29/2017,2123056,03/28/2017,2121886.0,1170.0,22533,22521.0,12.0
28116,TRAM2,R469,00-00-01,RIT-ROOSEVELT,03/30/2017,2124511,03/29/2017,2123056.0,1455.0,22555,22533.0,22.0
28117,TRAM2,R469,00-00-01,RIT-ROOSEVELT,03/31/2017,2125810,03/30/2017,2124511.0,1299.0,22571,22555.0,16.0
28118,TRAM2,R469,00-03-00,RIT-ROOSEVELT,03/26/2017,392380,03/25/2017,392096.0,284.0,15824,15773.0,51.0
28119,TRAM2,R469,00-03-00,RIT-ROOSEVELT,03/27/2017,392632,03/26/2017,392380.0,252.0,15837,15824.0,13.0
28120,TRAM2,R469,00-03-00,RIT-ROOSEVELT,03/28/2017,392830,03/27/2017,392632.0,198.0,15853,15837.0,16.0
28121,TRAM2,R469,00-03-00,RIT-ROOSEVELT,03/29/2017,393000,03/28/2017,392830.0,170.0,15854,15853.0,1.0
28122,TRAM2,R469,00-03-00,RIT-ROOSEVELT,03/30/2017,393213,03/29/2017,393000.0,213.0,15865,15854.0,11.0
28123,TRAM2,R469,00-03-00,RIT-ROOSEVELT,03/31/2017,393467,03/30/2017,393213.0,254.0,15870,15865.0,5.0
28124,TRAM2,R469,00-03-01,RIT-ROOSEVELT,03/26/2017,2725264,03/25/2017,2724921.0,343.0,381091,381079.0,12.0
28125,TRAM2,R469,00-03-01,RIT-ROOSEVELT,03/27/2017,2725544,03/26/2017,2725264.0,280.0,381110,381091.0,19.0
28126,TRAM2,R469,00-03-01,RIT-ROOSEVELT,03/28/2017,2725731,03/27/2017,2725544.0,187.0,381123,381110.0,13.0
28127,TRAM2,R469,00-03-01,RIT-ROOSEVELT,03/29/2017,2725913,03/28/2017,2725731.0,182.0,381131,381123.0,8.0
28128,TRAM2,R469,00-03-01,RIT-ROOSEVELT,03/30/2017,2726135,03/29/2017,2725913.0,222.0,381143,381131.0,12.0
28129,TRAM2,R469,00-03-01,RIT-ROOSEVELT,03/31/2017,2726420,03/30/2017,2726135.0,285.0,381150,381143.0,7.0
28130,TRAM2,R469,00-05-00,RIT-ROOSEVELT,03/26/2017,2575,03/25/2017,2575.0,0.0,62,62.0,0.0
28131,TRAM2,R469,00-05-00,RIT-ROOSEVELT,03/27/2017,2575,03/26/2017,2575.0,0.0,62,62.0,0.0
28132,TRAM2,R469,00-05-00,RIT-ROOSEVELT,03/28/2017,2575,03/27/2017,2575.0,0.0,62,62.0,0.0
28133,TRAM2,R469,00-05-00,RIT-ROOSEVELT,03/29/2017,2575,03/28/2017,2575.0,0.0,62,62.0,0.0
28134,TRAM2,R469,00-05-00,RIT-ROOSEVELT,03/30/2017,2577,03/29/2017,2575.0,2.0,62,62.0,0.0
28135,TRAM2,R469,00-05-00,RIT-ROOSEVELT,03/31/2017,2578,03/30/2017,2577.0,1.0,62,62.0,0.0
28136,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/26/2017,5554,03/25/2017,5554.0,0.0,294,294.0,0.0
28137,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/27/2017,5554,03/26/2017,5554.0,0.0,294,294.0,0.0
28138,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/28/2017,5554,03/27/2017,5554.0,0.0,294,294.0,0.0
28139,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/29/2017,5554,03/28/2017,5554.0,0.0,294,294.0,0.0
28140,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/30/2017,5554,03/29/2017,5554.0,0.0,294,294.0,0.0
28141,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/31/2017,5554,03/30/2017,5554.0,0.0,294,294.0,0.0

# Calculating the Entries and Exits per Hour

In [21]:
# Use concat (as a join) to fix ("de-cumulate") the columns Entries and Exits

df_shift = (df_no_dupe
            .copy()
            .drop('Linename', axis = 1)
            .drop('Division', axis = 1)
           )

df_shift[['Datetime_Prev', 'Entries_Prev', 'Exits_Prev']] = (df_shift
            .groupby(['C_A', 'Unit', 'SCP', 'Station'])['Datetime', 'Entries', 'Exits']
            .transform(lambda grp: grp.shift(1)))


# df_shift.columns
# df_shift['Datetime_Prev', 'Entries_Prev', 'Exits_Prev'] = (
#     df_no_dupe#[['C_A', 'Unit', 'SCP', 'Station', 'Datetime', 'Entries', 'Exits']]
#             .groupby(['C_A', 'Unit', 'SCP', 'Station'])['Datetime', 'Entries', 'Exits']
#             #.groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
#             .transform(lambda grp: grp.shift(1))
#             #.shift(periods = 1)
#             #.rename(columns = {'Entries' : 'Entries_Shift', 'Exits' : 'Exits_Shift', 
#             #                   'Datetime' : 'Prev_datetime'})
#            )
df_shift.head()

,C_A,Unit,SCP,Station,Date,Desc,Entries,Exits,Datetime,Datetime_Prev,Entries_Prev,Exits_Prev
0,A002,R051,02-00-00,59 ST,03/25/2017,REGULAR,6108321,2069313,2017-03-25 00:00:00,NaT,NaN,NaN
1,A002,R051,02-00-00,59 ST,03/25/2017,REGULAR,6108343,2069319,2017-03-25 04:00:00,2017-03-25 00:00:00,6108321.0,2069313.0
2,A002,R051,02-00-00,59 ST,03/25/2017,REGULAR,6108360,2069347,2017-03-25 08:00:00,2017-03-25 04:00:00,6108343.0,2069319.0
3,A002,R051,02-00-00,59 ST,03/25/2017,REGULAR,6108462,2069456,2017-03-25 12:00:00,2017-03-25 08:00:00,6108360.0,2069347.0
4,A002,R051,02-00-00,59 ST,03/25/2017,REGULAR,6108689,2069525,2017-03-25 16:00:00,2017-03-25 12:00:00,6108462.0,2069456.0

In [22]:
# df_w_shift = pd.concat([df_no_dupe, df_shift], axis = 1)

df_shift['Entries'] = df_shift['Entries'] - df_shift['Entries_Prev']
df_shift['Exits'] = df_shift['Exits'] - df_shift['Exits_Prev']

df_shift = df_shift.dropna(how = 'any')

# df_w_shift = (df_w_shift
#        .drop('Entries_Shift', 1)
#        .drop('Exits_Shift', 1)
#        .dropna(how = 'any')
#       )

df_shift.tail()

,C_A,Unit,SCP,Station,Date,Desc,Entries,Exits,Datetime,Datetime_Prev,Entries_Prev,Exits_Prev
198363,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/31/2017,REGULAR,0.0,0.0,2017-03-31 05:00:00,2017-03-31 01:00:00,5554.0,294.0
198364,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/31/2017,REGULAR,0.0,0.0,2017-03-31 09:00:00,2017-03-31 05:00:00,5554.0,294.0
198365,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/31/2017,REGULAR,0.0,0.0,2017-03-31 13:00:00,2017-03-31 09:00:00,5554.0,294.0
198366,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/31/2017,REGULAR,0.0,0.0,2017-03-31 17:00:00,2017-03-31 13:00:00,5554.0,294.0
198367,TRAM2,R469,00-05-01,RIT-ROOSEVELT,03/31/2017,REGULAR,0.0,0.0,2017-03-31 21:00:00,2017-03-31 17:00:00,5554.0,294.0

In [23]:
# Challenge 3 - Total Daily Entries
#df3or4['Datetime'].dt.date == datetime.datetime(YYYY, MM, DD).date()

In [ ]:
# def get_daily_counts(row, max_counter):
#     counter = abs(row["ENTRIES"] - row["PREV_ENTRIES"])
    
#     if counter > max_counter:
#         print(row["ENTRIES"], row["PREV_ENTRIES"])
#         return 0
#     return counter

# # If counter is > 1Million, then the counter might have been reset.  
# # Just set it to zero as different counters have different cycle limits
# _ = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)